{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<center><h3>Set a new password!</h3></center>
<br>
<div class="row">
<div class="col-sm-4">
</div>
<div class="col-sm-6">
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}

 <button class="btn btn-secondary ">Change my password </button>
  
</form>
</div>
</div>
<br>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>



{% endif %}
{% endblock %}