{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block content %}

<div class="row">
    <div class="col-6 offset-3">
       <center> <h3>Change Password</h3></center>
        <div class="form-group">
            <form method="POST">
                <br>
                {% csrf_token %}
                {{form.as_p}}

                <button class="btn btn-secondary">Change Password</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </form>
        </div>


    </div>
</div>


{% endblock %}