{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}


<div class="row">

    <div class="col-md-4 offset-md-4 ">
        <br> <br>
        <center>
            <center><h3>Login</h2><center>
        </center>
        <div class="form-group">
            <form method="POST">
                <br>
                {% csrf_token %}
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Username" name="username">

                </div>
                <div class="form-group">

                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
               
                <div class="d-flex">

                    <a href="{% url 'register' %}" >
                    <center> <font >Not a user? Register</font></center>
                    </a>
                    <a href="{% url 'reset_password' %}" >
                    <center> <font >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forgot Password?</font></center>
                    </a>

                </div>
                <br>


                <button class="btn btn-secondary btn-block">Login </button>
                <button type="reset" class="btn btn-danger btn-block">Reset</button>
            </form>
          
        </div>
        <br><br>


    </div>
</div>


{% endblock %}