{% extends 'base.html' %}
{% load static %}
{% block title %} User Profile {% endblock %}


{% block content %}
<center><h3>User Profile</h3></center>
<br>
<div class = "row"style="margin:10px;" >
<div class = "col sm-1">
</div>
<div class = "col-sm-4 ">

<div class="card mb-3">
    <div class="row no-gutters">

        

        <div class="col-md-4">
            {% if page_user.profile_pic %}

            <img src="{{page_user.profile_pic.url}}" class="card-img">

            {% else %}

            <img src={% static "img/default_pro_pic.jpeg" %} class="card-img">

            {% endif %}
        </div>


        <div class="col-sm-6 ">
            <div class="card-body">
                <h5 class="card-title">{{page_user.user.first_name}} {{page_user.user.last_name}}</h5>
                <p class="card-text">{{page_user.bio}}</p>

            </div>
        </div>
    </div>
</div>
</div>
<div class = "col sm-1">
</div>
</div>

{% endblock %}